/Guia3-Java/nbproject/private/
/Guia3-Java/build/
/Guia3-extras-Java/nbproject/private/
/Guia3-extras-Java/build/
/Teoria_funciones/nbproject/private/
/Teoria_funciones/build/
/Guia4/nbproject/private/
/Guia4/build/
/Guia5-Java/nbproject/private/
/Guia5-Java/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/Guia7/nbproject/private/
/Guia7/build/
/Guia7-Java/nbproject/private/
/Guia7-Java/build/